<!DOCTYPE html>
<html>
  <head>
    <title>FirstRailsApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1 style="text-align:center; background-color: red; padding:40px 0;">Test webapp</h1>

    <%= link_to "Our home", root_path %>
    <%= link_to "Know more about us", about_path %>
    <%= link_to "Meet ox  ur team", contact_path %>
    <%= yield %>
  
    <footer style="width: 100vw; text-align:center; background-color: rgba(255, 0, 0, 0.6); padding:10px 0;">The simple footer</footer>
  </body>
</html>
